<md-dialog aria-label="Create Estimate">
    <form name="myForm" ng-submit="ctrl.submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Create Estimate</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <label for="description">Description:</label>
                <input type="text" id="description" class="dialog-textbox" ng-model="d">

                <label for="customer">Customer</label>
                <select id="customer" ng-model="cust">
                    <option ng-repeat="customer in addCustomers" value="{{customer.customer_id}}">
                        {{customer.first_name}}
                    </option>
                </select>


            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="send(d, cust)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>