<md-dialog aria-label="Add Customer">
    <form name="myForm" ng-submit="ctrl.submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Add Customer</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <input type="hidden" ng-model="id">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" class="dialog-textbox" ng-model="first">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" class="dialog-textbox" ng-model="last">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" class="dialog-textbox" ng-model="phone_num">
                <label for="address">Address:</label>
                <input type="text" id="address" class="dialog-textbox" ng-model="add">
            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="send(first, last, phone_num, add)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>