<md-dialog aria-label="Add Inventory Item">
    <form name="myForm" ng-submit="ctrl.submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Add Inventory Item</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <input type="hidden" ng-model="id">
                <label for="description">Description:</label>
                <input type="text" id="description" class="dialog-textbox" ng-model="d">
                <label for="manufacturer">Manufacturer:</label>

                <select id="manufacturer" ng-model="mId">
                    <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer.manufacturer_id}}">{{manufacturer.name}}</option>
                </select>
                <label for="part_num">Part #:</label>
                <input type="text" id="part_num" class="dialog-textbox" ng-model="mPart">
                <label for="distributor">Distributor:</label>
                <select id="distributor" ng-model="dId">
                    <option ng-repeat="distributor in distributors" value="{{distributor.distributor_id}}">
                        {{distributor.name}}
                    </option>
                </select>
                <label for="dist_cost">Distribution Cost:</label>
                <input type="number" id="dist_cost" ng-model="dCost">
                <label for="sell_price">Sell Price:</label>
                <input type="number" id="sell_price" ng-model="sell">
                <label for="min_qty">Minimum Stock Quantity:</label>
                <input type="number" id="min_qty" ng-model="min">
                <label for="max_qty">Maximum Stock Quantity:</label>
                <input type="number" id="max_qty" ng-model="max">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" class="dialog-textbox" ng-model="qty">
            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="send(mId, mPart, dId, d, dCost, sell, min, max, qty)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>