<md-dialog aria-label="Create Estimate">
    <form name="myForm" ng-submit="ctrl.submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Create Estimate</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <table class="table table-hover table-striped table-responsive table-condensed" style="width:50%">
                    <thead style="background-color:midnightblue;color:white;">
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in inventoryItems">
                        <td>{{item.inventory_item_id}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <input type="hidden" ng-value="item.inventory_item_id" ng-model="item.inventory_item_id">
                            <input type="text" ng-model="item.qty">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="sendItems(inventoryItems)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>