<md-dialog aria-label="Add Distributor">
    <form name="myForm" ng-submit="submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Add Distributor</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <input type="hidden" ng-model="id">
                <label for="name">Name:</label>
                <input type="text" id="name" class="dialog-textbox" ng-model="nm">
            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="send(nm)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>