<md-dialog aria-label="Update Quantity">
    <form name="myForm" ng-submit="submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Update Quantity</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <input type="hidden" ng-value="updateId.id"  ng-model="Iid" >
                <label for="qty">Quantity</label>
                <input type="text" id="qty" class="dialog-textbox" ng-model="qty">
            </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="send(qty)">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>