<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
    <h1>{{headingTitle}}</h1>


    <div ng-controller="customerController as ctrl" ng-cloak>
        <md-button ng-click="showAddCustomer($event)">Add Customer</md-button>
        <table class="table table-hover table-striped table-responsive">
            <thead style="background-color:midnightblue;color:white;">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in ctrl.customers">
                    <td>{{customer.customer_id}}</td>
                    <td>{{customer.first_name}}</td>
                    <td>{{customer.last_name}}</td>
                    <td>{{customer.phone_number}}</td>
                    <td>{{customer.address}}</td>
                    <td><md-button ng-click="ctrl.remove(customer)" class="md-warn">Delete</md-button></td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>