<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributors</title>
</head>
<body>
    <h1>{{headingTitle}}</h1>

    <div ng-controller="distributorController as ctrl" ng-cloak>
        <md-button class="" ng-click="showAddDistributor($event)">Add {{headingTitle}}</md-button>
        <table class="table table-hover table-striped table-responsive">
            <thead style="background-color:midnightblue;color:white;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="distributor in ctrl.distributors">
                <td>{{distributor.distributor_id}}</td>
                <td>{{distributor.name}}</td>
                <td><md-button ng-click="ctrl.remove(distributor)" class="md-warn">Delete</md-button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>