<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>{{headingTitle}}</h1>


<div ng-controller="inventoryController as ctrl" ng-cloak>
    <md-button class="" ng-click="showAddInventory($event)">Add Item</md-button>
    <md-button id="toggle" class="" ng-click="toggleData()">More Details</md-button>

    <table class="table table-hover table-striped table-responsive">
        <thead style="background-color:midnightblue;color:white;">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Part #</th>
            <th>Distributor</th>
            <th ng-if="more">Distribution Cost</th>
            <th ng-if="more">Sell Price</th>
            <th ng-if="more">Min Qty</th>
            <th ng-if="more">Max Qty</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in ctrl.items">
            <td>{{i.inventory_item_id}}</td>
            <td>{{i.description}}</td>
            <td>{{i.manufacturer_name}}</td>
            <td>{{i.manufacturer_part_num}}</td>
            <td>{{i.distributor_name}}</td>
            <td ng-if="more">{{i.dist_cost}}</td>
            <td ng-if="more">{{i.sell_price}}</td>
            <td ng-if="more">{{i.min_qty}}</td>
            <td ng-if="more">{{i.max_qty}}</td>
            <td>{{i.qty}}</td>
            <td><md-button ng-click="showUpdateQty($event, i.inventory_item_id)">Update</md-button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>