<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacturers</title>
</head>
<body>
<h1>{{headingTitle}}</h1>

<div ng-controller="manufacturerController as ctrl" ng-cloak>
    <md-button class="" ng-click="showAddManufacturer($event)">Add {{headingTitle}}</md-button>
    <table class="table table-hover table-striped table-responsive ">
        <thead style="background-color:midnightblue;color:white;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="manufacturer in ctrl.manufacturers">
            <td>{{manufacturer.manufacturer_id}}</td>
            <td>{{manufacturer.name}}</td>
            <td><md-button ng-click="ctrl.remove(manufacturer)" class="md-warn">Delete</md-button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>