<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="orderController as ctrl" ng-cloak>
        <h1>Order View</h1>
        <md-tabs md-stretch-tabs="always" md-dymanic-height="true">
            <md-tab label="Estimates">
                <md-tab-content>
                    <md-button ng-click="showAddEstimate($event)">Add New Estimate</md-button>
                    <table class="table table-hover table-striped table-responsive">
                        <thead style="background-color:midnightblue;color:white;">
                        <tr>
                            <th>Customer</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="estimate in ctrl.estimates">
                            <td>{{estimate.customer_name}}</td>
                            <td>{{estimate.description}}</td>
                            <td>{{estimate.date_opened}}</td>
                            <td><md-button ng-click="openEstimate(estimate)" class="md-warn">View</md-button></td>

                        </tr>
                        </tbody>

                    </table>
                </md-tab-content>

            </md-tab>

            <md-tab label ="Work Orders">
                <md-tab-content>
                    <table class="table table-hover table-striped table-responsive">
                        <thead style="background-color:midnightblue;color:white;">
                        <tr>
                            <th>Customer</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workOrder in ctrl.workOrders">
                            <td>{{workOrder.customer_name}}</td>
                            <td>{{workOrder.description}}</td>
                            <td>{{workOrder.date_opened}}</td>
                            <td><md-button ng-click="openWorkOrder(workOrder)" class="md-warn">View</md-button></td>

                        </tr>
                        </tbody>
                    </table>
                </md-tab-content>

            </md-tab>

            <md-tab label="Invoices">
                <md-tab-content>
                    <table class="table table-hover table-striped table-responsive">
                        <thead style="background-color:midnightblue;color:white;">
                        <tr>
                            <th>Customer</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in ctrl.invoices">
                            <td>{{invoice.customer_name}}</td>
                            <td>{{invoice.description}}</td>
                            <td>{{invoice.date_opened}}</td>
                            <td><md-button ng-click="openInvoice(invoice)" class="md-warn">View</md-button></td>

                        </tr>
                        </tbody>
                    </table>
                </md-tab-content>

            </md-tab>
        </md-tabs>
    </div>

</body>
</html>