<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Order View</title>
</head>
<body>
<div ng-controller="orderController as ctrl">
    <h1>Work View</h1>

    <div id="info-section">
        <p><label>Customer Name: </label> {{orderData.customer_name}}</p>
        <p><label>Description:   </label> {{orderData.description}}</p>
        <p><label>Date Opened:   </label> {{orderData.date_opened}}</p>
        <p><label>Price:         </label> ${{orderData.total_price}}</p>
    </div>

    <div id="item-section">
        <md-button ng-click="refresh()">Refresh Data</md-button>
        <table class="table table-hover table-striped table-responsive table-condensed" style="width:50%">
            <thead style="background-color:midnightblue;color:white;">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Qty</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in ctrl.orderToView.items">
                <td>{{i.inventory_item_id}}</td>
                <td>{{i.description}}</td>
                <td>{{i.qty}}</td>
            </tr>
            </tbody>
        </table>

        <md-button ng-click="showAddOrderItem($event)">Add Items</md-button>
        <md-button>Edit</md-button>
        <md-button ng-click="generateInvoice(orderData)">Generate Invoice</md-button>
    </div>

</div>
</body>
</html>