<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estimate View</title>
</head>
<body>
    <div ng-controller="orderController as ctrl">
        <div class="order-item-view">
            <span>
                <h1>Estimate View</h1>

                <div id="info-section" width="50%">
                    <p><label>Customer Name: </label> {{orderData.customer_name}}</p>
                    <p><label>Description:   </label> {{orderData.description}}</p>
                    <p><label>Date Opened:   </label> {{orderData.date_opened}}</p>
                    <p><label>Price:         </label> ${{orderData.total_price}}</p>
                </div>

                <div id="item-section">
                    <md-button ng-click="refresh()">Refresh Data</md-button>
                    <table class="table table-hover table-striped table-responsive table-condensed" style="width:50%">
                        <thead style="background-color:midnightblue;color:white;">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Qty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in ctrl.orderToView.items">
                            <td>{{i.inventory_item_id}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.qty}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <md-button ng-click="showAddOrderItem($event)">Add Items</md-button>
                    <md-button>Edit</md-button>
                    <md-button ng-click="generateWorkOrder(orderData)">Generate Work Order</md-button>
                </div>
            </span>
        </div>
    </div>
</body>
</html>