.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

div {
    display: inline;
}
.home-section{
    float:left;
    height:100vh;
    background-color: #f3f3f3;
}

.section{
    margin-left: 20px;
    float:left;
}
.photo{
    padding-right: 5px;
}

