html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    overflow-x: hidden;
}

span:hover {
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 14px;
}

li a {
    display: block;
    color: #000;
    padding: 20px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #FFFFFF;
    color: #464646;
    text-decoration:  none;

}
.site {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
}

.header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    height: 55px;
    width: 100%;
    background-color: midnightblue;
    color: #fff;
}

.title_panel {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.title_panel img {
    display: flex;
    height: 20px;
    margin-right: 10px;
}


.nav-bar {
    display:inline;
    background-color: #F3F3F3;
    width: 220px;
    height: 100%;
    transition: 0.3s all;
    position: fixed;
    top: 55px;
    float: left;
}

.nav-bar-hide {
    display: none;
}

.data-section {
}

#addCustomer {
    left: 234px;
    float: right;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    padding-left: 220px;

}
.main_toggled{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    padding-left: 0px;

}

.sub_main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr;
    background-color: #DDDDDD;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;

}
.sub_main_header_area {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 16px;
    color: #EE5223;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: transparent;
    Text-Shadow: 0 0 0 rgba(255, 255, 255, 1);

}

.sub_main_table_area {
    padding: 0;
    width: 100%;
    height: 100%;
}

.dialog-textbox {
    width: 350px;
}

.order-item-view {
    display: inline;
    width:50%;
}
.add-items-panel {
    display: inline;
    float: right;
    background-color: #f3f3f3;
    height: 100%;

}

.add-items-panel-toggled {
    display: none;
}
